:root {
    /* Primary Colors */
    --clr-red: hsl( 0, 78%, 62% );
    --clr-cyan: hsl( 180, 62%, 55% );
    --clr-orange: hsl( 34, 97%, 64% );
    --clr-blue: hsl( 212, 86%, 64% );

    /* Neutral Colors */
    --clr-very-dark-blue: hsl( 234, 12%, 34% );
    --clr-grayish-blue: hsl( 229, 6%, 66% );
    --clr-very-light-gray: hsl( 0, 0%, 98% );

    /* Font Size */
    --fs: 15px;

    /* Google Fonts */
    --ff: 'Poppins', sans-serif;

    /* Font Weights */
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
    background: var(--clr-very-light-gray);
}

.container {
    border: 2px solid purple;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    text-align: center;
}

.header {
    max-width: 550px;
    margin: 0 auto;
}

.header > h1 {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-200);
    font-size: 35px;
}

.header > h1 span {
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-600);
}

.header > p {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-200);
}

.main {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 120px 120px 120px;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 2px solid green;
}

.teambuilding {
    border: 2px solid yellow;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.karma {
    border: 2px solid purple;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.calculator {
    border: 2px solid aqua;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.supervisor__content,
.teambuilding__content,
.karma__content,
.calculator__content {
    height: 40%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.supervisor__content > p,
.teambuilding__content > p,
.karma__content > p,
.calculator__content > p {
    color: var(--clr-grayish-blue);
    font-size: var(--ff);
}

.supervisor__img,
.teambuilding__img,
.karma__img,
.calculator__img {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}