:root {
    /* Primary Colors */
    --clr-red: hsl( 0, 78%, 62% );
    --clr-cyan: hsl( 180, 62%, 55% );
    --clr-orange: hsl( 34, 97%, 64% );
    --clr-blue: hsl( 212, 86%, 64% );

    /* Neutral Colors */
    --clr-very-dark-blue: hsl( 234, 12%, 34% );
    --clr-grayish-blue: hsl( 229, 6%, 66% );
    --clr-very-light-gray: hsl( 0, 0%, 98% );

    /* Font Size */
    --fs: 15px;

    /* Google Fonts */
    --ff: 'Poppins', sans-serif;

    /* Font Weights */
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
}